// Center the form and add some padding
.container {
  form {
    margin-top: 70px;
    width: 100%;
  }

  // Style each form item to add spacing and customization
  .ant-form-item {
    margin-bottom: 20px;

    label {
      font-weight: 600;
      font-size: 16px;
      color: #333;
    }
  }

  // Style input fields
  .ant-input-password {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

    &:focus {
      border-color: #40a9ff;
      box-shadow: 0 0 3px rgba(64, 169, 255, 0.5);
    }
  }

  // Style the submit button
  .ant-btn-primary {
    padding: 10px;
    background-color: #c33;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;

    &:hover,
    &:focus {
      background-color: #b22222;
    }
  }
}
