.ManageMenu {
  .manage-menu-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-bottom: 20px;

    .ant-space-item {
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        & > p {
          font-weight: bold;
          margin-right: 15px;
        }

        .range-picker-container {
          & > div {
            height: 45px;
          }

          .ant-picker-range-separator {
            & > span {
              display: flex;
            }
          }
        }
      }

      & > button {
        width: 180px;
        height: 45px;
        background-color: var(--COLOR-submit);
        color: #ffffff;
        font-weight: bold;

        & > span {
          font-size: 1.1rem;
        }

        &:hover {
          background-color: var(--COLOR-submit-hover);
          color: #ffffff;
          opacity: 0.7;
        }
      }
    }
  }

  .ant-table-wrapper {
    .ant-spin-container {
      .ant-table-pagination {
        margin-top: 40px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .ant-table-body {
        table {
          tbody {
            tr {
              td {
                .btn-wrapper {
                  display: flex;
                  justify-content: center;

                  & > button {
                    border: none;

                    &:first-child {
                      svg {
                        color: rgb(51, 51, 227);
                        margin-right: 0;

                        &:hover {
                          opacity: 0.6;
                          cursor: pointer;
                        }
                      }
                    }

                    &:last-child {
                      svg {
                        color: rgb(232, 40, 40);

                        &:hover {
                          opacity: 0.6;
                          cursor: pointer;
                        }
                      }
                    }
                  }
                }
              }

              &:hover {
                td {
                  .btn-wrapper {
                    button {
                      background-color: #fafafa;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .ant-table-filter-column {
      & > span:last-child {
        margin-right: 15px;
      }
    }
  }
}
