.Dish {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;

  &>div:first-child {
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: all 300ms;
      }
    }

    &:hover {
      .dish-action {
        opacity: 1;
        transform: translateY(0%);
        transition: all 400ms;
      }
    }

    .dish-action {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 5px 0;
      background-color: var(--COLOR-pink-smooth);
      color: white;
      z-index: 1;

      opacity: 0;
      transform: translateY(80%);
      transition: all 400ms;

      .favorite-action {
        background: url('../../../assets/images/action.png') no-repeat -33px 0;
        width: 32px;
        height: 32px;

        &:hover {
          cursor: pointer;
          transition: all 300ms;
          background: url('../../../assets/images/action.png') no-repeat -33px -32px;
        }
      }

      .cart-action {
        background: url('../../../assets/images/action.png') no-repeat 0 0;
        width: 32px;
        height: 32px;

        &:hover {
          cursor: pointer;
          transition: all 300ms;
          background: url('../../../assets/images/action.png') no-repeat 0 -32px;
        }
      }
    }
  }

  &>div:last-child {
    &>div {
      p:first-child {
        margin-top: 10px;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30px;
        font-weight: bold;
      }

      &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
      }

      &:hover {
        cursor: pointer;

        p {
          color: var(--COLOR-primary-hover);
        }
      }
    }

    &>p {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      font-size: 1rem;
      color: var(--COLOR-primary);
      font-weight: bold;
    }
  }
}